Flownative:
  OAuth2:
    Client:
      garbageCollection:
        # The probability in percent of a client shutdown triggering a garbage
        # collection which removes expired tokens.
        #
        # Examples:
        #    1    (would be a 1% chance to clean up)
        #   20    (would be a 20% chance to clean up)
        #    0.42 (would be a 0.42 % chance to clean up)
        probability: 1
      services: []
#        - name: 'flownative-beach'
#          className: 'Flownative\Beach\BeachClient'

Neos:
  Flow:
    mvc:
      routes:
        Flownative.OAuth2.Client:
          position: 'start'
